In [3]:
# Function to print all combinations of pairs of integers in a uniq list

# [1,2,3] -> (1,2),(1,3),(2,3) ->3C2 ->3!/((3-2)!*2!)

def combinations(li):
    for i in range(len(li)-1):
        for j in range(i+1,len((li))):
            #print(li[i],li[j])
            
    return

combinations([1,2,3,4])

(1, 2)
(1, 3)
(1, 4)
(2, 3)
(2, 4)
(3, 4)

In [8]:
def combinations3(li):
    for i in range(len(li)-2):
        for j in range(i+1,len(li)-1):
            for k in range(j+1,len(li)):
                print((li[i],li[j],li[k]))
    return

combinations3([1,2,3,4,5])

(1, 2, 3)
(1, 2, 4)
(1, 2, 5)
(1, 3, 4)
(1, 3, 5)
(1, 4, 5)
(2, 3, 4)
(2, 3, 5)
(2, 4, 5)
(3, 4, 5)

In [28]:
# [1,2,3] ->[1,2,3]
def medium(li):
    count = 1
    while(True):
        if count == 1:
            li3 = diffPairs(li)
            if li3[0] == li3[1]:
                break
        
    return li
    
def diffPairs(li):
    cli = li.copy()
    # newelements = []
    for i in range(len(li)-1):
        for j in range(i+1, len(li)):
            d = abs(li[i]-li[j])
            if  d not in li:
                #newelement.append(d)
                li.append(d)
    # li.extend(newelement)
    return [cli, li]
print(medium([1,8]))
    #return li[1] - li[0]

[1, 8, 7, 6, 2, 5, 3, 4]

### Sets

In [41]:
a ={10,1,2,3,4,5,6}
b ={7,8,9,1,2,3}
c = {111,123}
# a.union(b)
a.intersection(b)

{1, 2, 3}

In [34]:
a.isdisjoint(c)

True

In [42]:
a - b # all elem of a which are 
b- a

{7, 8, 9}

In [37]:
sorted(a)

[1, 2, 3, 4, 5, 6, 10]

In [43]:
dir(a)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [46]:
#help(a)

a ^ b # elements either in a or in b

{4, 5, 6, 7, 8, 9, 10}

In [ ]:
d = set() # for creating empty set

In [48]:
li = [1,2,3,4,5,6,1,4,3,2,5]
u = set(li)
u

{1, 2, 3, 4, 5, 6}

#### Procedural :c

#### Object Oriented: Java,Python

#### Scripting : Php,Python,JavaScript,Shell,Perl

#### Functional : Python, Haskell, Scala

#### Logic : Python, Lisp

### List Comprehensions

In [49]:
# N natural Numbers in a list
n = 10
li = []
for i in range(1,n+1):
    li.append(i)
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [50]:
li = [i for i in range(1, 11)]

li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [52]:
# Apply list comprehemsion to store the cubes on n n natural numbers

li= [i ** 3 for i in range(1,11)]
li

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [56]:
# Function to calculate the factorial
def factorial(n):
    if n == 0 or n == 1:
        return 1
    return n * factorial(n-1)

# Apply list comprehension to calculate factorial n natural numbers

n = 10

factList = [factorial(i) for i in range(1, n+1)]
factList

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [63]:
# Calculate cumulative sum of numberstill n in a list
def mysum(x):
    sm = 0
    for i in range(1,x+1):
        sm += i
    return sm
# n =3,[1,3,6]
# n =5,[1,3,6,10,15]
n = 5
li = [mysum(i) for i in range(1,n+1)]
li

[1, 3, 6, 10, 15]