In [2]:
5 not in  [1,2,3,4]

True

In [3]:
5 is 5

True

In [5]:
5 is not 10

True

In [6]:
'abc' is 'abc'

True

In [7]:
if (7<6):
    print("true")
elif(6<7):
    print("true")
else:
    print("false")

true

In [9]:
# range(10)
range(2,10,2)

range(2, 10, 2)

In [11]:
for x in range(2,10,2):
    print(x,end=",")

2,4,6,8,

In [13]:
#while
num=1
while num<6:
    print(num)
    num+=1

1
2
3
4
5

In [14]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [15]:
for i in 1,2,3:
    print(i)

1
2
3

In [16]:
for i in range(10,4,-1):
    print(i)

10
9
8
7
6
5

In [18]:
for i in "hai":
    print(i)

h
a
i

In [27]:
print(1,2,sep=",",end="*")
print(3,sep=";")

1,2*3

In [30]:
n=input("enter value:")
print(n,type(n))

enter value:12.3
12.3 <class 'str'>

In [33]:
1+int("2")

3

In [38]:
l=[1,10,20]
l[3]

IndexError: list index out of range

In [ ]:
4 5 2 6 7 8 -> 6
4 5         -> 2
45          -> 1
-1 -2       -> 2

In [41]:
data.split(" ")

['1', '3', '5', '7', '8']

In [46]:
data=input()#"1 3 5 7 8"
len(data.split())

1 3 5 7 8

5

In [47]:
for i in 1,2,3:
    print(i)
print(i)

1
2
3
3

In [ ]:
1,2,3,4,5
15

In [48]:
data=input()#1,3,5
values=data.split(",")#['1','3','5']
s=0
for value in values:
    s+=int(value)
print(s)

1,3,5
9

In [51]:
data=input()
values=data.split(",")#['1','2','3']
#map(method_name,list_of_values)
int_values=list(map(int,values))
sum(int_values)

1,2,3

6

In [ ]:
#t->number of test cases 3
#next t lines input
3
4+5     ->4\n5
5+77+0  ->0\n77
5+7     ->5\n7

In [ ]:
1+2+15+63+3
1
63